.FilterContainer {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    text-transform: uppercase;
    font-weight: medium;
    padding-bottom: 2vh;
    padding-top: 3vh;
}

main {
    background-color: white;
}

h2 {
    color: black;
    padding: 1em;
}

p {
    color: black;
    padding: 1em;
}


label {
    color: black;
}

.botDecor {
    order-bottom-width: 5px;
    width:100%;
    min-height: 2vh;
    background-color: #7BC5DC;
}
.topDecor {
    order-bottom-width: 5px;
    width:100%;
    min-height: 2vh;
    background-color: #7BC5DC;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
}

.contentContainer {
    margin-top: 2vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    background-color: white;
    textAlign: center;
    display: flex;
    justify-content: center;
}

.mainContent h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 2vh;
    border-bottom-color: black;
    border-bottom-style: solid;



}

.bg {
    background-color: white;
}

.mainContent {
    background-color: #CCDEE5;
    margin-top: 2vh;
    width: 100%;
    padding: 1em;
    padding: 2em;
    outline: 3px solid black;
    outline-offset: -10px;
    box-shadow: 5px 5px 50px grey;
    margin-bottom: 2vh;
}

.FilterBottom {
    width: 10vw;
    border-bottom: 1px solid darkgray;
    align-self: center;
    align-items:center;
    justify-content:center;
    margin: 1vh;
    display: none;
}

.taskList{
    background-color: #CCDEE5;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3vh;
    border-color: black;
    border-top-style: solid;

}

.FilterTop {
    width: 14vw;
    border-bottom: 1px solid darkgray;
    align-self: center;
    align-items:center;
    justify-content:center;
    margin: 1vh;
}

.FilterContainer {
    min-height: 15vh;
    align-self: center;
    background-color: white;
    text-align: left;
    align-self: center;
    margin-left: 5em;
    margin-right: 5em;
}

.SelectorHeader {
    font-size: 1rem;
    font-weight: bold;
}

 /* mobile view */
 @media screen and (max-width: 500px) {
    .FilterBottom {
        width: 50w;
    }
    .FilterTop {
        width: 40vw;
    }
    .SingleFilter {
      padding: 2px;
    }
}

.Loader {
  justify-content: center;
  margin-right: 5em;
  border-style: solid 2px;
}
