/* tasks view */
.img {
}


.TextArea {
    margin: 1vh;
}

.fade-modal-show {
    width:100%;
}

.Card {
    margin: 2vw 0.75vw 2vw 0.75vw;
    box-shadow: 5px 5px 50px grey;
    transition: .3s;
    height: 25vw;
    width: 95%;
    background-color: #ffffff;
    font-size: 0.5rem;
    border: none;
}

.Card:hover {
    margin: 1vw;
    margin-left: 0;
    height: 27vw;
}

body {
    font-family: tisa;
}

/* single task view */
.SingleDescription {
    margin: 1rem;
}

.ValueTable th {
    background-color: #7BC5DC;
}

.ValueTable td {
    background-color: #CCDEE5;
}

.TaskInformation {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 1vw;
    flex: 3;
    border: 2px solid #fff;
}

.ImageContactContainer {
    display: flex;
    flex-direction: column-reverse;
}


.SingleImage {
    padding: 1vw;
    width: 90%;
    object-fit: contain;
    margin: auto;
    height: 66%;
    max-height: 400px;
    max-width: 600px;
}

.InfoContainer {
    display: flex;
    flex-direction: column;
}
.SingleContactInfo {
    border: 2px solid #7BC5DC;
    background-color: #CCDEE5;
    text-align: center;
    margin: 2vw;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    flex: 4;
    width: 20%
}

.SingleContactInfoHeader {
    font-size: 2rem;
    border: 2px solid #7BC5DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 28%;
}

.saveButton{
    background-color: #7BC5DC;
    color: black;
    border-radius: 0;
    border-style: none;
}

.saveButton:hover {
    background-color: #CCDEE5;
    color: black;
}

.MapContainer {
    width: 82%;
    height: 320px;
}

.ContactMessageLabel {
    margin: .5rem 0 0;
    width: 40%
}

/* Single task mobile view */
@media screen and (max-width: 500px) {
    /*swap direction on smaller screen */
    .SingleDescription {
        font-size: 0.8em;
        float: none;
        padding-left: 1vw;
        margin: 1rem;
    }
    .ImageContactContainer {
        font-size: 0.8em;
    }
    .SingleImage {
        max-width: 98%;
        float: none;
        height: fit-content;
    }
    .InfoContainer {
        flex-direction: column;
    }
    .SingleContactInfo {
        max-width: 98%;
        float: none;
        border: 2px solid #7BC5DC;
    }
    .Card {
        height: 80vw;
        margin: 1vw;
        font-size: 0.5rem;
    }
    .Formcontainer {
        align-self: center!important;
    }
    .MapContainer {
        width: 100%;
    }

    .ValueTable {
        width: 100%;
    }
}

.FormContainer {
    margin: auto;
    max-width: 70%;
    width: 70%;
}

.Formtitle {
    font-size: 1rem;
}
