h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

.saavutettavuus-container {
  background-color: white;
  margin: 1.5rem;
  padding: 2.25rem;
  border: 1px solid grey;
}

.main-title {
  padding-bottom: 2rem;
}

.feedback-link {
  color: #275795;
  border: none;
  background: none;
  cursor: pointer;
}

.feedback-link:hover {
  color: #0056b3;
}

.feedback-container {
  background-color: white;
  margin: 1.5rem;
  padding: 2.25rem;
  border: 1px solid grey;
}