.DescriptionFieldsContainer {
  display: flex;
}

.TaskName {
  padding-right: 2rem;
  width: 50%;
}

.TaskLocation {
  padding-left: 3rem;
}

.TaskValueRow {
  display: flex;
}

.TaskValueSelector {
  width: 100%;
  margin-right: 2rem;
}

.TaskValueDescription {
  width: 100%;
}

.TaskValue {
  margin: 0.4rem 0;
}

.Labels {
  color: black;
  margin-bottom: 0px;
}

.screenreader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px; width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

@media screen and (max-width: 800px) {
  .DescriptionFieldsContainer {
    flex-direction: column;
  }

  .TaskName {
    width: 100%;
  }

  .TaskLocation {
    padding: 0;
  }

  .TaskValueRow {
    display: block;
    width: 100%;
  }
}
