@media screen and (max-width: 770px) {
  /*swap direction on smaller screen */
  .Container {
    flex-direction: column;
    align-items: center;
  }
  .Container .DescriptionContainer {
    width:91vw;
    margin-bottom: 3vh;
  }
  .Container .LoginContainer {
    width:91vw;
    border: 0;
  }
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

.Container {
  display: flex;
  justify-content: space-between;
  background-color: #D1D6A5;
}

.Login {
    padding: 3vh;
    background-color: white;
    outline-style: solid;
    outline-color: black;
    outline-width: 3px;
    outline-offset: -20px;
}

.DescriptionContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  justify-content: space-evenly;
  margin-right: 3vw;
  padding-bottom: 4vh;
  height: fit-content;
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: 5px 5px 50px grey;

}

.bg {
    padding: 2vh;
    background-color: #D1D6A5;
}
.topDecor {
    min-height: 2vh;
    background-color: #D6CB3A;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
}
.botDecor {
    min-height: 2vh;
    background-color: #D6CB3A;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 5px;
}

.DescriptionContainer:focus-within {
  outline: rgba(0, 103, 244, 0.247) auto 2px;
}

.DescriptionCard {
  display: flex;
  flex: 1;
}

.DescriptionCard h2 {
  margin: 0;
  border-style: none;
}

.header {
    text-align: center;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

label {
    font-weight: bold;
}
.CardContainer {
  padding: 3vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.RegisterCardContainer {
  display: inline-block;
}

.LoginContainer {
  width: 50%;
  margin-left: 4vw;
  margin-bottom: 4vh;
  margin-top: 0vw;
  padding: 0 0 0 0;
}

.regButton {
    width: 70%;
    border-radius: 0;
    border-style: none;
    color: black;
    background-color: #D6CB3A;
}

.regText {
    font-weight: bold;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
}

.loginButton {
    width: 70%;
    border-style: none;
    border-radius: 0;
    color: black;
   background-color: #D6CB3A;
   margin-bottom: 2vh;
}

.LoginForm {
  /* padding-left: 3vw;
  min-width: 290px;
  width: 28vw; */
}

.Card {
  display: flex;
  flex: 1;
  text-align: center;
  border: 1px solid grey;
}

.Accord {
  width: 100%;
  cursor: default !important;
}

.Accord:hover {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: hsl(216, 94%, 94%);
}

.Accord:focus {
  box-shadow: none;
}

.Link {
  display: contents;
}

.Button1 {
  padding-left: 3vw;
  padding-right: 3vw;
}

.ButtonContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.Loginalert {
  margin: 15px;
}

.loginSuccess {
  border: 1px solid grey;
  background-color: #D6CB3A;
  padding: 1vh;
}

.loginSuccess a {
    color: black;
}

.Button {
  margin-top: 20px;
}

.DescriptionCard:focus {
  border-style: none;
  background-color: white;
}

.ControlPanelLinks {
  list-style: none;
  padding-inline-start: 0;
}
.navLink:hover {
  border: 1px solid grey;
  border-radius: 5px;
  margin: -1px;
}


@media screen and (max-width: 770px) {
  .DescriptionContainer {
    margin: 0;
    order: 2;
  }

  .LoginContainer {
    margin: 0;
    padding: 0;
    order: 1;
  }
}
