.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    padding: 3rem;
    box-shadow: 5px 10px;
    align-items: center;
  }
  .popup_inner_error {
    box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
    width: 20vw;
    height: fit-content;
    margin-left: 30vw;
    margin-top: 4vh;
    border: 3px double black;
    z-index: 100;
    padding: 3rem;
    font-size: 1.3rem;
    color: #573838;
    background: #f6baba;
    z-index: 2;
  }
  .popup_inner_success {
    box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
    width: 20vw;
    height: fit-content;
    margin-left: 30vw;
    margin-top: 4vh;
    border: 3px double black;
    z-index: 100;
    padding: 3rem;
    font-size: 1.3rem;
    color: #38574a;
    background: #bcf6ba;
    z-index: 2;
  }

  @media screen and (max-width: 500px) {
    .popup {
      padding: 0;
      margin: -31px;
    }
    .popup_inner_success, .popup_inner_error {
      width: auto;
      margin: 0;
    }
  }