@media screen and (max-width: 500px) {
    .rowContainer {
        width: 100%!important;
        align-self:center;
      }
    .Container .Button1 {
        font-size: 2em;
    }
    .Tooltip {
        justify-content: center;
        width: 100%!important;
    }
    .TooltipImage {
        margin-right: 0;
    }
    .TooltipText {
        width: 90vw!important;
        padding: 5vw!important;
    }
    .InfoSymbol {
        margin: 0!important;
    }

    .InfoContainer {
        flex-direction: column;
    }

    .Info {
        width: 100%;
        font-size: 0.8rem;
        align-self: center;
    }
    .Header1 {
        font-size: 1.3rem!important;
        text-decoration-style: solid black;
    }
    .Header2 {
        width: fit-content!important;
        text-decoration-line: underline;
        text-decoration-style: solid black;
    }
}

@media screen and (min-width: 700px) {
    .Container{
        max-width: 100% !important;
    }
}

.PageContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Container {
    background-image: url('../../images/kadet.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    margin-left:0;
    margin-right:0;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: white;
    min-height: 40vh;
}
.rowContainer {
    width: 50%;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10vh;
    outline: 2px solid black;
    outline-offset: -10px;
    display:flex;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px black);
}

.Header1 {
    font-family: tisa;
    text-transform: uppercase;
    align-self: center;
    padding-top: 1vh;
    border-bottom-style: solid;
    color: black;
    background: white;
    margin-top: 1.5vh;
    padding-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;

}
.Header2 {
    font-family: tisa;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
}

.Description1 {
    width:95%;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: white;

}

.AfterDescription {
    border-style:  solid;
    align-self: center;
    align-items:center;
    justify-content:center;
    margin: 1vh;
  }

.ButtonContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 1vh;
    width: 100%;

}

.Button1 {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-style: none;
    transition: 0s;
    margin: 1rem;
}

#topBar {
    min-height: 2vh;
    background-color: blue;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
    display: none;
}

.SmallButton {
  background-color: #5b256d;
  color: white;
  padding: 0.33rem;
  border-radius: 3px;
}

.KaikkiTehtavatInstruction {
  background-color: #282c31;
  color: white;
  padding: 0.33rem;
}

.Button1:hover, .Button1:active {
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22) !important;
    background-color: #7BC5DC !important;
    border-color: #431b50 !important;
    color: black;
}

a:hover {
    text-decoration: none!important;
}

.Description2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(248, 249, 250, 0.80);
    border: 2px solid grey;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 2vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.Link {
    display: contents;
}

.logoContainer{
    background-color: white;
    display: inline;
}

.logo {
    width: 200px;
    height: 122px;
    padding: 10px;
    align: left;
}

.Flags {
    background-color: white;
    margin: 0;
    display: inline;
    float: right;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;

}

.FlagList {
    padding: 0;
    margin: 0;
}

.VipuVoimaaFlag {
    width: 120px;
    height: 91px;
    padding: 10px;
    margin: 2px;
    margin-bottom: 0;
}

.EuroopanUnioniFlag {
    width: 119px;
    height: 122px;
    padding: 10px;
    margin: 2px;
    margin-bottom: 0;
}

.beforeTips{
    background-color: white;
    min-height: 1vh;
}

.TooltipContainer {
    position: relative;

}
.PageContainer .Tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCDEE5;
    padding: 2vw;
    padding-bottom: 0;
    margin: 0;
}
.TooltipImage {
    width: 80px;
    height: 80px;
    margin-right: 2vw;
}
.TooltipText {
    position: center;
    background-color: #CCDEE5;
    height: fit-content;
    width: 60%;
    text-align: left;
    font-size: 1rem;
    list-style: none;
    padding-left: 0;
    max-width: 10in;
}

.TooltipText li {
    color: black;
    padding: 1vh;
    margin-bottom: 1.5rem;
    margin: 1vh;
    background-color: white;
    list-style: square;
    list-style-position: inside;
    filter: drop-shadow(3px 3px 3px black);
    /* list-style-type: initial; */
}

