.AdminpaneContainer {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    background-color: #D6CB3A;

}

.SignOut {
    color: black !important;
    background-color: #D6CB3A !important;
    border-bottom: none!important;
}
.SignOut:hover {
    color: #f75f5f!important;
}

@media screen and (max-width: 767px) {
    .AdminpaneContainer {
        margin-left: unset!important;
        justify-content: flex-start;
        flex-direction: column;
    }
    .AdminpaneMobile {
        flex-direction: column;
        margin-left: 5vw;
    }
}
