@media screen and (max-width: 500px) {
    /*swap direction on smaller screen */
    .FooterContainer .FooterCol{
      padding-left: 10vw;
      padding-right: 10vw;
    }
    .FooterContainer .FooterImage {
        max-width: 90px;
        max-height: 66px;
    }
  }

.FooterContainer {
    background-color: #7BC5DC;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 1vh;
}
.FooterContainer .FooterCol .FooterImage {
    padding: 1em;
}

.footerCol {
    
}

.infoContainer {
    padding-top: 1vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-right: inherit; /* tämä pakko olla tai koko sivu hajoaa */
}


.infoContainer ul {
    justify-content: left;
}

ul li a {
    color: white;
    text-decoration-line: underline;
}
.MiniMenu ul {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    border-right-style: solid;
    border-right-color: white;
}

.infoContainer .AccessibilityInfo a {
    color: white;
    text-decoration-line: underline;
}

.infoContainer p img {
    height: 1em;
    filter: invert(100%);
}

.infoContainer ul li {
    list-style-type: none;
    align-self: right;
}

.footerLogo {
    max-width: 180px;
    max-height: 132px;
}

.ContactInfo {
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
}

.ContactInfo img {
    padding-right: 0.5em;
}

.ContactInfo > p {
    margin: 0;
    color: white;
    padding-top: 0;
}

.contactInfo > h2 {
    color: white;
}

.FooterImage {
    max-width: 180px;
    max-height: 132px;
    filter: grayscale(100);
    align-self: left;
}

.FontSizeContainer {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.FontSizeLarge {
    font-size: 2rem;
    border: none;
    background-color: white;
    margin: .2rem;
    z-index: 10;
}

.FontSizeLarge:hover {
    text-decoration: underline;
}

.FontSizeMedium {
    font-size: 1.5rem;
    border: none;
    background-color: white;
    margin: .2rem;
    z-index: 10;
}

.FontSizeMedium:hover {
    text-decoration: underline;
}

.FontSizeNormal {
    border: none;
    background-color: white;
    margin: .2rem;
    z-index: 10;
}

.FontSizeNormal:hover {
    text-decoration: underline;
}

.SaavutettavuusLinkContainer {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1000px) {
    .FontSizeContainer {
        display: none;
    }
}
