.Container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    background-color: white;
    outline-offset: -2em;
    outline-color: black;
    outline-style: solid;
    outline-width: 3px;
    padding-bottom: 2vh;
    border-bottom-style: solid;
    border-bottom-color: #CCDEE5;
    border-bottom-width: 0.7vh;
    border-top-style: solid;
    border-top-color: #CCDEE5;
    border-top-width: 0.7vh;
    max-width: 1200px;
}


.Description {
    display: flex;
    align-self: center;
    margin-bottom: 1vh;
    font-size: 1.3rem;
    margin-top: 2vh;
    color: rgb(32, 32, 32);
    border-radius: 1px;
    border-bottom-style: solid;
    border-color: black;
    font-style: normal;
}

.AfterDescription {
  width: 14vw;
  border-bottom: 1px solid darkgray;
  align-self: center;
  align-items:center;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.Categories {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 2vw;
    text-align: center;
    margin: 2vh;
    margin-bottom: 3vh;
    flex-direction: column;
}

.CategoryItem {
    display: grid;
    flex: 1;
    margin: 3vh;
    justify-content: center;
}

h2 {
    font-weight: bold;
}

p {
    font-weight: medium;
}



.Suggestions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #dcf0de;
  color: #343A40;
  padding: 2vw;
  margin: 2vw;
  border: 1.5px solid white;
  border-radius: 3px;
}

.Images {
  height: 128px;
  width: 128px;
  margin: auto;
}

.searchButton {
    border-radius: 0;
    border-style: none;
    color: black;
    text-transform: uppercase;
    margin-bottom: 2vh;
    width: 30vw;
    font-size: 2rem;
    background-color: #7BC5DC;
}

.searchButton:active {
  background-color: #431b50!important;
  border-color: #431b50!important;
}

.searchButton:hover {
    color: black;
  background-color: #CCDEE5;
  border-color: black;
}

.searchButton:disabled {
  background-color: #431b50;
  border-color: #431b50;
}

.tasksContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2em;
  justify-content: center;
}

.FilterContainer {
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 95%;
    min-height: 20vh;
    align-self: center;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.TopTasks {
  justify-content: center;
}

.allTasksLink {
  color: #235594;
}
.allTasksLink:hover {
  border: 1px solid #235594;
  color: #1c4577;
  border-radius: 5px;
  margin-bottom: -2px;
}

#topBar {
    width:100%;
    min-height: 2vh;
    background-color: #7BC5DC;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}

 /* mobile view */
 @media screen and (max-width: 500px) {
  .SingleFilter {
    min-height: 15vh;
  }
  .Description {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .CategoryItem {
    border-bottom: solid 1px rgb(124, 123, 123);
    padding-bottom: 3rem;
  }
  .SingleFilter {
    margin-bottom: 2rem;
  }

}
