@font-face {
    src: url("fonts/TisaSansPro.otf") format("opentype");
    font-family: tisa;
    font-weight: medium;
}
@font-face {
    src: url("fonts/TisaSansPro-Bold.otf") format("opentype");
    font-family: tisa;
    font-weight: bold;
}
@font-face {
    src: url("fonts/TisaSansPro-BoldItalic.otf") format("opentype");
    font-family: tisa;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 500px) {
  /*smaller screen*/
  body {
    background-size: contain!important;
    color: black;
  }
}

html {
  font-size: 16px;
  font-family: tisa;
  color: black;
}

p {
  margin-bottom: 1.5rem;
  font-family: tisa;
  color: black;
}

h1 {
    font-weight: bold;
}
a {
    text-decoration-line: underline;
    color: black;
}

a:hover {
    font-weight: bold;
}

body {
    color: black;
    margin: 0;
    font-family: tisa;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../src/images/background-wall.jpg');
    background-color: white !important;
    background-size: auto;
}

code {
    font-family: tisa;
}

#accordion-1 {
    background-color: #D6CB3A;
    border-style: none;
    border-radius: 0;
}
#accordion-2 {
    background-color: #D6CB3A;
}

#accordion-3 {
    background-color: #D6CB3A;
}
#main-content {
    background-color: #CCDEE5;

}

.screenreader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px; width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.DialogOverlay {
  z-index: 1;
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.modal-width {
  max-width: 90%
}

.skip-to-content {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
.skip-to-content:focus, .skip-to-content:active {
  background: white;
  text-decoration: underline;
  color: blue;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: auto;
  margin: 10px;
  padding: 5px;
  font-size: 1rem;
  z-index: 999;
}

.bg-sun-vuoro {
  background-color: black;
}

.sun-vuoro-btn {
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: cursive;
  color: black;
}

.sun-vuoro-btn:hover {
  background-color: black;
}

.save-btn {
  background-color: #008a00;
}

.save-btn:hover {
  background-color: #016301;
}

.Navbar {
    font-family: tisa;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0;
}

.Navbar .navbar-nav .nav-link {
    padding: 5px; 
    margin-left:1em;
    color: white;
    text-transform: uppercase;
}
.Navbar .navbar-nav .nav-link .dropdown-toggle {
    padding: 5px; 
    margin-left:1em;
    color: black;
    text-transform: uppercase;
}

.nav-link img {
    height: 1.3em;
    padding-right: 5px;
}

.Navbar .navbar-nav .nav-link.active {
    color: black;
    border-color: #7BC5DC;
    margin-bottom: 1px;
    padding-bottom: 3px;
    background-color: #7BC5DC;
    text-decoration-line: underline;
}

.dropdown-toggle.nav-link {
    color: black !important;
}

.nav-link .dropdown-toggle a {
    color: black;
}

/* Override rc-slider styles */
.rc-slider-handle:focus {
  outline: rgba(0, 103, 244, 0.247) auto 2px !important;
}

.rc-slider-mark-text {
  color: #737373 !important;
}

/* Override multi-select styles */
#multiselectContainerReact >div >span {
    background-color: #7BC5DC;
    color: black;
}

@media screen and (max-width: 767px) {
  .Navbar .navbar-nav .nav-link.active {
    border-bottom: none;
    padding-bottom: 8px;
  }
}
