.Image {
    margin: 0.5vw;
    margin-bottom: 0;
    border-radius: 5px;
    align-self: center;
    transition: .3s;
    height: 64%;
    width: 89%;
    object-fit: contain;
    background-color: #ffffff;
    font-size: 0.5rem;
}
 /* mobile view */
@media screen and (max-width: 500px) {
    .Image {
     max-width: 98%;   
    }

}