h3 {
    font-size: 1.2rem;
}

.ApplicationsContainer {
    background-color: white;
    color: #bec0bf;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 1px solid grey;
    margin-bottom: 20vh;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.ApplicationsContainer:focus-within {
    outline: rgba(0, 103, 244, 0.247) auto 2px;
}

.Orgdata {
    margin: 30px;
    margin-top: 0px;
    padding: 100px;
}

.OrgContactTitle {
    color: #343A40;
    margin-top: 40px;
    margin-left: 20px;
}

.OrgAccord {
    margin-left: 25px;
}

.OrgText {
    color: #343A40;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.SingleApplicationContainer {
    color: #000;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.OrgInfo {
    display: flex;
    justify-content: space-between;
}

.OrgInfo th {
    border: 1px solid #adb5bd;
    padding: 0 3rem 0 .5rem;
}

.HeaderContentContainer {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.OrganizationTitle {
    width: 100%;
    cursor: default !important;
    border-radius: 0;
    font-size: 1rem;
}

.OrganizationTitle:focus {
    background-color: hsl(216, 94%, 94%);
}

.OrganizationTitle:focus-within {
    background-color: hsl(216, 94%, 94%);
}

.OrganizationToggleContainer {
    margin-bottom: 0;
}

.OrganizationTitle:hover {
    background-color: hsl(216, 94%, 94%);
}

td {
    border: 1px solid #adb5bd;
    text-align: left;
    padding: 8px;
    padding-right: 3rem;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.ButtonContainer {
    display: flex;
}

.DenyButton {
    margin-top: 2rem;
    margin-right: 2rem;
}

.AcceptButton {
    background-color: #008a00;
    margin-top: 2rem;
    margin-right: 2rem;
}

.AcceptButton:hover {
    background-color: #016301;
}

.ApplicationsList {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .SingleApplicationContainer {
        margin: 0;
    }
    td {
        padding-right: 8px;
        font-size: 0.8rem;
    }
    .OrgInfo {
        flex-direction: column;
    }
    .OrgMessage {
        margin-top: 1rem;
        margin-left: 0!important;
        border-top: 0.1px solid #b1b3b6;
        min-height: 100px!important;
        align-self: flex-start!important;
    }
    .AcceptButton, .DenyButton {
        margin-right: 0.5rem!important;
    }
    .OrgText {
        font-size: 1.5rem;
    }
    .OrgInfo th {
        padding: 0 1rem 0 .3rem;
    }
    table {
        table-layout: fixed;
        width: 206%;
    }
    .HeaderContentContainer:first-child {
        padding-bottom: 1rem;
    }
}
